%vdom-form-field {
  padding: 1em;
  background-color: whitesmoke;
  margin-bottom: 1em;
  label, input {
    display: inline-block;
    font-size: 1.5em;
  }
  label {
    letter-spacing: 0.03em;
    font-weight: 100;
    vertical-align: bottom;
    width: 25%;
  }
  input {
    width: 74%;
    transition: all 250ms;
    background-color: whitesmoke;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    &:focus {
      border-bottom: 1px solid rgb(0, 188, 212);
    }
  }
}

.vdom-form-field, .vdom-image-upload, .vdom-file-upload {
  @extend %vdom-form-field;
  & .vdom-file-upload {
    padding: 0;
    margin-bottom: 0;
  }
}
