@import "./_fields.scss";

.vdom-form {
  background-color: whitesmoke;
  margin-bottom: 1em;
  padding: 1em;
}

.vdom-image-upload {
  input[type="file"] {
    font-size: 1em;
    border-bottom: none;
  }
  img {
    max-height: 100px;
  }
}
